{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecanico Rayo Mackween</title>
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% block css %}
      
    {% endblock css %}
</head>
<body background="{% static 'img/fondooo.jpg' %}">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <nav class="navbar bg-body-tertiary">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="{% static 'img/car-icon-illustration-free-vector.jpg' %}" alt="Bootstrap" width="30" height="24">
              </a>
            </div>
        </nav>
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Taller Mecanico Rayo Mackween</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'INIC' %}">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'GALE' %}">Galeria</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'FORMU' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Formulario
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'LOG' %}">login</a></li>
                      <li><a class="dropdown-item" href="{% url 'FORMU' %}">Fromulario cliente</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'ADM' %}">Administracion</a></li>
                    </ul>
                  </li>
                  
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>
    </header> 
    <main>
        <section id="banner">
            <img src="{% static 'img/oficinas-auto-1200x675.png' %}" alt="">
            <div class="contenedor">
                <h1>Prefiera el mejor servicio</h1>
                <p>¿Cual es servicio que le podemos brindar?</p>
                <a href="autos.html">Ver mas...</a>
            </div>
        </section>
<!----biwnve---->
 {% block contenido %}
   
 {% endblock contenido %}

    <footer>
      <div style="margin: auto;padding: 40px;text-align: center; background-color: rgb(123, 255, 0);">
        <p><h1>Taller Mecanico Rayo Mackween</h1></p>
        <img src="{% static 'img/car-icon-illustration-free-vector.jpg' %}" alt="Bootstrap" width="70" height="80">
        <h2>Para mas informacion contactanos a traves de nuestro numero telefonico o redes sociales</h2>
        <h3>600 600 6000</h3>
        <img src="{% static 'img/descarga (1).jpg' %}" alt="">
        <h4>@rayo</h4>
        <a href="base.html" class="btn btn-primary">Ver mas ...</a>
      </div>
    </footer>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
    {% block js %}
      
    {% endblock js %}
</body>
</html>